<p id="notice"><%= notice %></p>

   <section id="content">
  <div class="zerogrid block">  
    <div class="row block04">
      <div class="col16">
        <section>
          <p>Home >> Blog >> View Post</p>
        </section>
      </div>
    </div>
    
    <div class="row block05">
      <div id="main-content" class="col-2-3">

        <article>
          <div class="heading">
            <h2><a href=""><%= @blog.post %></a></h2>
            <div class="info">Posted by <%= @blog.yourname %> </div>
          </div>
          <div class="content">
            
            <p><%= @blog.content %></p>
          </div>
        </article>
         
        <%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

      </div>
    
    </div>
  </div>
</section>